body,
h1,
h2,
h3,
h4 {
  font-size: 16px;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 35px;
}

body,
a {
  color: #291d1e;
}

nav {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

nav a.logo {
  background: url(../img/avatar.png) no-repeat;
  background-size: 60px;
  -webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  transition: background 0.25s linear;
  /*border-right: #ff0000 solid 2px;*/
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 75px;
}

nav a.logo:hover {
  background-color: #ae2323;
}

nav ul {
  padding-left: 100px;
}

nav li {
  list-style: none;
  margin: 20px;
}

nav a:hover {
  color: #ff0000;
}

nav a {
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  padding: 16px;
  margin: 0 8px;
  line-height: 55px;
}

#header {
  padding: 20px 0;
  background: #eeeeee 50% 0%;
  background-image: url(../img/swiss.png), url(../img/linen.jpg);
  background-repeat: no-repeat, repeat;
  background-position-x: 53%;
  background-position-y: 94%;
}

b,
strong {
  font-weight: bold;
}

#header > div:first-child {
  text-align: end;
}
#header > div:last-child {
  text-align: start;
}

#header > div li {
  list-style: none;
  margin: 7px 8px;
}

#header > div h1 {
  background: #fff;
  display: inline;
  padding: 4px 8px;
}

.button {
  display: block;
  background: url(../img/sprite.png) no-repeat;
  background-color: #ff0000;
  background-position: 210px -170px;
  width: 320px;
  padding: 8px 16px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  top: -5px;
  left: -5px;
  /*-webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  transition: background 0.5s linear;*/
}

#contactme {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}

.button label {
  display: block;
  font-size: 0.5em;
  height: 16px;
}

.button-container {
  background: url(../img/shadow.png);
}
