html {
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

/* MENU */

header {
  height: 100px;
  background: #34495e;
  color: #fff;
  position: fixed;
  width: 100%;
  padding: 0 40px 0 20px;
  z-index: 100;
}

header .container {
  top: 0;
  width: 95%;
}

.logo {
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu {
  float: right;
  line-height: 100px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 100px;
}

.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
  color: #3498db;
}

#menu-chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 800px) {
  .show-menu-btn, .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    z-index: 100;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a {
    display: block;
    padding: 20px
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #menu-chk:checked ~ .menu {
    right: 0;
  }
}

/* SCROOLBAR */

::-webkit-scrollbar {
  background: #7f8c8d;
  text-align: justify;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #00000070;
}

::-webkit-scrollbar-thumb {
  background: #2c3e50;
}

/* PAGES */

section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

section .container {
  padding: 120px;
}

/* PAGE Presentation */

#presentation .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 300px;
  background: #eeeeee 50% 0%;
  background-image: url(../img/swiss.png), url(../img/linen.jpg);
  background-repeat: no-repeat, repeat;
  background-position-x: 53%;
  background-position-y: 94%;
}

#presentation > div li {
  list-style: none;
  margin: 7px 8px;
}

#presentation > div h1 {
  background: #fff;
  display: inline;
  padding: 4px 8px;
}

@keyframes slide {
  0% {
    background-color: #fd79a8;
  }
  33% {
    background-color: #e84393;
  }
  67% {
    background-color: #d63031;
  }
}

/* PAGE About */

#about {
  background-color: #0984e3;
  animation: slide 10s infinite;
}

#about p {
  font-size: 20px;
  padding: 10px;
  line-height: 24px;
}

/* PAGE Services */

#services {
  background-color: #0984e3;
}

#services .container {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%,-50%) rotateX(70deg);
}

.ripple {
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: ripple 4s linear infinite;
}

.ripple.r2 {
  animation-delay: 0.8s;
}

.ripple.r3 {
  animation-delay: 1.6s;
}

.ripple.r4 {
  animation-delay: 2.4s;
}

.ripple.r5 {
  animation-delay: 3.2s;
}

.ripple.r6 {
  animation-delay: 4s;
}

@keyframes ripple {
  from {
    border: 4px solid #8e44ad;
    background: #9b59b670;
  }
  to {
    border: 0px solid #8e44ad;
    background: #9b59b670;
    width: 400px;
    height: 400px;
    top: 20;
    opacity: 0;
  }
}

#services p {
  position: absolute;
  top: 67%;
  left: 67%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}

/* COLUMNS */

section .container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 830px) {
  .focus-logo {
    flex: 0.33;
  }
  .focus-logo img {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .focus-logo {
    display: none;
  }
}

/* WORKS */

#works {
  background-color: #34495e;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.eye {
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 15px solid #333;
}

/* CONTACT */

#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/montagne.jpg) no-repeat center;
  background-size: cover;
}

#contact h1 {
  text-align: center;
  color: #ddd;
  padding: 120px 0 0 0;
}

#contact .border {
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

#contact .contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

#contact .contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

#contact .contact-form-text:hover {
  box-shadow: 0 0 10px 4px #34495e;
}

#contact textarea.contact-form-text {
  resize: none;
  height: 120px;
}

#contact .contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
}

#contact .contact-form-btn:hover {
  background: #2980b9;
}

/* CONTACT INFOS fixe */

#contact-info {
  position: fixed;
  top: 40%;
  z-index: 999999;
  left: 0;
}

#contact-info .option {
  cursor: pointer;
  position: relative;
}


#contact-info .option {
  display: block;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: #f1f1f1;
  color: #b9b9b9;
}

#contact-info .option i {
font-size: 20px;
transition: 0.6s;
}

#contact-info .option:hover i {
  color: #3498db;
  transform: rotate(-90deg);
}

#contact-info .text {
  position: absolute;
  height: 60px;
  width: 200px;
  background: #1b1b1b;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
  text-decoration: none;
}

#contact-info .option:hover .text {
  left: 60px;
}

/* GO TOP btn */

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
